({if !$INC_FOOTER_is_login})
<tr>
<td class="container inc_page_footer">


({***************************************})
({**ここから：旧inc_page_footer.tplの内容**})
({***************************************})
<table class="inc_page_footer" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="bg_page_footer" style="background: url(({t_img_url_skin filename=skin_footer})) no-repeat ;">

({$INC_FOOTER_inc_page_footer|smarty:nodefaults})

</td>
</tr>
</table>
({***************************************})
({**ここまで：旧inc_page_footer.tplの内容**})
({***************************************})

</td>
</tr>
({/if})
</table>
</td>

({if $INC_FOOTER_side_banner_html_before || $INC_FOOTER_side_banner_html_after || $INC_FOOTER_inc_side_banner})

<td class="ext_sub_container_right" align="center" valign="top">
({**********************************})
({**ここから：サイドコンテンツ領域**})
({**********************************})

({**********************************})
({**ここまで：サイドコンテンツ領域**})
({**********************************})
</td>
({/if})
</tr>
</table>

</div>

({$INC_FOOTER_inc_page_bottom|smarty:nodefaults})

</body>
</html>
