({ext_include file="inc_head.tpl"})
<!-- MAIN BEGIN -->
<div id="mainer">
<!-- aima Portal -->
<div id="aimaContainerPanel" style="text-align: center;"></div>
<!-- aima container -->
<script type="text/javascript"
 src="http://beamie.aima.woopie.jp/v2/lib?container=1"></script>
<script type="text/javascript"><!--
var aimaDivID = 'aimaContainerPanel';
var aimaContainer = window.AimaContainer.getInstance(aimaDivID);
aimaContainer.setSyndicationID('beamie.jp');
aimaContainer.setPageID('top');
window.onload = function() {
 aimaContainer.show();
}
--></script>
</div>
<!-- MAIN END -->
({ext_include file="inc_foot.tpl"})
