({ext_include file="inc_head.tpl"})
<!-- MAIN BEGIN -->
<div id="mainer">

<div id="main"  style="width:718px!important;margin-left:0px;padding-left:0px;">
<iframe id="frame_content" height="1024"  frameborder="0"  src="beauty/index.html" width="100%" scrolling="no"  ></iframe>
</div>
({ext_include file="inc_side.tpl"})

</div>
 <script>				
        function reinitIframe(){
            var iframe = document.getElementById("frame_content");            
            try{
                var bHeight = iframe.contentWindow.document.body.scrollHeight;
                var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
                var height = Math.max(bHeight, dHeight);
                if (height > iframe.height){
                    iframe.height =  height;
                }
            }catch (ex){}
        }
        window.setInterval("reinitIframe()", 1000);
</script>

<!-- MAIN END -->
({ext_include file="inc_foot.tpl"})

