({ext_include file="inc_head.tpl"})

<!-- MAIN BEGIN -->
<div id="mainer">
<div id="dts_mainbox">
<h2><img src="contest/img/dts_mainimg.jpg" width="980" height="580" alt="国民的美少女2012 Labeaute" /></h2>
<p><img src="contest/img/dts_img_toptext.jpg" width="980" height="60" alt="「プロモーション動画」下記サイトで大好評配信中" /></p>
<p id="dts_text01"><span>第13回全日本国民的美少女コンテストの受賞者たちの本選大会の舞台裏や伊豆での撮影の模様をまとめたファーストムービー。オスカープロモーション公式YouTubeチャンネルにて配信中！</span></p>
<div id="dts_box01">

<div class="dts_outline">
<div class="dts_wrap01 mr_20">
<div class="dts_w01_left"><img src="contest/img/dts_photo01.jpg" alt="吉本 実憂" /></div>
<div class="dts_w01_right">
<dl>
<dt>名前：</dt><dd>吉本 実憂(ヨシモト ミユ)</dd>
</dl>
<dl>
<dt>年齢：</dt><dd>15歳</dd>
</dl>
<dl>
<dt>特技：</dt><dd>小倉祇園太鼓</dd>
</dl>
<dl>
<dt>趣味：</dt><dd>ダンス</dd>
</dl>
<dl>
<dt>身長：</dt><dd>160cm</dd>
</dl>
<dl>
<dt>バスト：</dt><dd>72</dd>
</dl>
<dl>
<dt>ウエスト：</dt><dd>58</dd>
</dl>
</div>
<div class="dts_w01_btn">
<p><a href="http://www.youtube.com/watch?v=5oBgRm43wrI&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" target="_blank"><img class="mousover" src="contest/img/dts_btn01.png" alt="YouTube" /></a></p>
<p class="ml_5"><a href="http://www.nicovideo.jp/watch/1355223616" target="_blank"><img class="mousover" src="contest/img/dts_btn03.png" alt="ニコニコ動画" /></a></p>
<p class="ml_5"><a href="http://gyao.yahoo.co.jp/player/00007/v04191/v0419000000000522238/" target="_blank"><img class="mousover" src="contest/img/dts_btn02.png" alt="Gyao!" /></a></p>
<div class="s_clear"></div>
</div>
</div><!--dts_wrap01-->
<div class="social_btn">
<ul>
<li><span><a class="fb-like" data-href="http://www.youtube.com/watch?v=5oBgRm43wrI&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" data-send="false" data-width="450" data-layout="button_count" data-show-faces="false"></a></span></li>
<li><span><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://youtu.be/5oBgRm43wrI" data-text="吉本 実憂のプロモーション動画をチェック！" data-lang="ja" data-count="none">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></span></li>
<li><span><a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="36f89df6389e43a86c02ab8a40238de50c198556" data-button="button-1">Check</a></span></li>
</ul>
</div>
</div><!--dts_outline-->

<div class="dts_outline2">
<div class="dts_wrap01">
<div class="dts_w01_left"><img src="contest/img/dts_photo02.jpg" alt="小澤 奈々花" /></div>
<div class="dts_w01_right">
<dl>
<dt>名前：</dt><dd>小澤 奈々花(オザワ ナナカ)</dd>
</dl>
<dl>
<dt>年齢：</dt><dd>13歳</dd>
</dl>
<dl>
<dt>特技：</dt><dd>チアダンス
</dd>
</dl>
<dl>
<dt>趣味：</dt><dd>読書、体を動かす事</dd>
</dl>
<dl>
<dt>身長：</dt><dd>162cm</dd>
</dl>
<dl>
<dt>バスト：</dt><dd>74</dd>
</dl>
<dl>
<dt>ウエスト：</dt><dd>57</dd></dl>
</div>
<div class="dts_w01_btn">
<p><a href="http://www.youtube.com/watch?v=3mSC0H2KJ84&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" target="_blank"><img class="mousover" src="contest/img/dts_btn01.png" alt="YouTube" /></a></p>
<p class="ml_5"><a href="http://www.nicovideo.jp/watch/1355223708" target="_blank"><img class="mousover" src="contest/img/dts_btn03.png" alt="ニコニコ動画" /></a></p>
<p class="ml_5"><a href="http://gyao.yahoo.co.jp/player/00007/v04191/v0419000000000522239/" target="_blank"><img class="mousover" src="contest/img/dts_btn02.png" alt="Gyao!" /></a></p>
<div class="s_clear"></div>
</div>
</div><!--dts_wrap01-->
<div class="social_btn">
<ul>
<li><span><a class="fb-like" data-href="http://www.youtube.com/watch?v=3mSC0H2KJ84&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" data-send="false" data-width="450" data-layout="button_count" data-show-faces="false"></a></span></li>
<li><span><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://youtu.be/3mSC0H2KJ84" data-text="小澤 奈々花のプロモーション動画をチェック！" data-lang="ja" data-count="none">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></span></li>
<li><span><a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="36f89df6389e43a86c02ab8a40238de50c198556" data-button="button-1">Check</a></span></li>
</ul>
</div>
</div><!--dts_outline2-->

<div class="dts_outline">
<div class="dts_wrap01 mr_20">
<div class="dts_w01_left"><img src="contest/img/dts_photo03.jpg" alt="若山 あやの" /></div>
<div class="dts_w01_right">
<dl>
<dt>名前：</dt><dd>若山 あやの(ワカヤマ アヤノ)</dd>
</dl>
<dl>
<dt>年齢：</dt><dd>14歳</dd>
</dl>
<dl>
<dt>特技：</dt><dd>バレエ、その他ダンス、英語</dd>
</dl>
<dl>
<dt>趣味：</dt><dd>バレエ</dd>
</dl>
<dl>
<dt>身長：</dt><dd>166cm</dd>
</dl>
<dl>
<dt>バスト：</dt><dd>70</dd>
</dl>
<dl>
<dt>ウエスト：</dt><dd>54</dd>
</dl>
</div>
<div class="dts_w01_btn">
<p><a href="http://www.youtube.com/watch?v=pdhIBSf30hQ&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" target="_blank"><img class="mousover" src="contest/img/dts_btn01.png" alt="YouTube" /></a></p>
<p class="ml_5"><a href="http://www.nicovideo.jp/watch/1355223886" target="_blank"><img class="mousover" src="contest/img/dts_btn03.png" alt="ニコニコ動画" /></a></p>
<p class="ml_5"><a href="http://gyao.yahoo.co.jp/player/00007/v04191/v0419000000000522240/" target="_blank"><img class="mousover" src="contest/img/dts_btn02.png" alt="Gyao!" /></a></p>
<div class="s_clear"></div>
</div>
</div><!--dts_wrap01-->
<div class="social_btn">
<ul>
<li><span><a class="fb-like" data-href="http://www.youtube.com/watch?v=pdhIBSf30hQ&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" data-send="false" data-width="450" data-layout="button_count" data-show-faces="false"></a></span></li>
<li><span><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://youtu.be/pdhIBSf30hQ" data-text="若山 あやののプロモーション動画をチェック！" data-lang="ja" data-count="none">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></span></li>
<li><span><a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="36f89df6389e43a86c02ab8a40238de50c198556" data-button="button-1">Check</a></span></li>
</ul>
</div>
</div><!--dts_outline-->

<div class="dts_outline2">
<div class="dts_wrap01">
<div class="dts_w01_left"><img src="contest/img/dts_photo04.jpg" alt="白鳥 羽純" /></div>
<div class="dts_w01_right">
<dl>
<dt>名前：</dt><dd>白鳥 羽純(シラトリ ハスミ)</dd>
</dl>
<dl>
<dt>年齢：</dt><dd>13歳</dd>
</dl>
<dl>
<dt>特技：</dt><dd>クラシックバレエ
</dd>
</dl>
<dl>
<dt>趣味：</dt><dd>クラシックバレエ、読書</dd>
</dl>
<dl>
<dt>身長：</dt><dd>153cm</dd>
</dl>
<dl>
<dt>バスト：</dt><dd>73</dd>
</dl>
<dl>
<dt>ウエスト：</dt><dd>54</dd>
</dl>
</div>
<div class="dts_w01_btn">
<p><a href="http://www.youtube.com/watch?v=zR8LP6dQxKs&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" target="_blank"><img class="mousover" src="contest/img/dts_btn01.png" alt="YouTube" /></a></p>
<p class="ml_5"><a href="http://www.nicovideo.jp/watch/1355224084" target="_blank"><img class="mousover" src="contest/img/dts_btn03.png" alt="ニコニコ動画" /></a></p>
<p class="ml_5"><a href="http://gyao.yahoo.co.jp/player/00007/v04191/v0419000000000522241/" target="_blank"><img class="mousover" src="contest/img/dts_btn02.png" alt="Gyao!" /></a></p>
<div class="s_clear"></div>
</div>
</div><!--dts_wrap01-->
<div class="social_btn">
<ul>
<li><span><a class="fb-like" data-href="http://www.youtube.com/watch?v=zR8LP6dQxKs&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" data-send="false" data-width="450" data-layout="button_count" data-show-faces="false"></a></span></li>
<li><span><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://youtu.be/zR8LP6dQxKs" data-text="白鳥 羽純のプロモーション動画をチェック！" data-lang="ja" data-count="none">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></span></li>
<li><span><a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="36f89df6389e43a86c02ab8a40238de50c198556" data-button="button-1">Check</a></li>
</ul>
</div>
</div><!--dts_outline-->

<div class="dts_outline">
<div class="dts_wrap01 mr_20">
<div class="dts_w01_left"><img src="contest/img/dts_photo05.jpg" alt="山木 コハル" /></div>
<div class="dts_w01_right">
<dl>
<dt>名前：</dt><dd>山木 コハル(ヤマキ コハル)</dd>
</dl>
<dl>
<dt>年齢：</dt><dd>13歳</dd>
</dl>
<dl>
<dt>特技：</dt><dd>ドラム、ギターの演奏と歌</dd>
</dl>
<dl>
<dt>趣味：</dt><dd>読書と勉強</dd>
</dl>
<dl>
<dt>身長：</dt><dd>157cm</dd>
</dl>
<dl>
<dt>バスト：</dt><dd>79</dd>
</dl>
<dl>
<dt>ウエスト：</dt><dd>62</dd></dl>
</div>
<div class="dts_w01_btn">
<p><a href="http://www.youtube.com/watch?v=FGNYkrBs5Oc&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" target="_blank"><img class="mousover" src="contest/img/dts_btn01.png" alt="YouTube" /></a></p>
<p class="ml_5"><a href="http://www.nicovideo.jp/watch/1355223893" target="_blank"><img class="mousover" src="contest/img/dts_btn03.png" alt="ニコニコ動画" /></a></p>
<p class="ml_5"><a href="http://gyao.yahoo.co.jp/player/00007/v04191/v0419000000000522242/" target="_blank"><img class="mousover" src="contest/img/dts_btn02.png" alt="Gyao!" /></a></p>
<div class="s_clear"></div>
</div>
</div><!--dts_wrap01-->
<div class="social_btn">
<ul>
<li><span><a class="fb-like" data-href="http://www.youtube.com/watch?v=FGNYkrBs5Oc&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" data-send="false" data-width="450" data-layout="button_count" data-show-faces="false"></a></span></li>
<li><span><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://youtu.be/FGNYkrBs5Oc" data-text="山木 コハルのプロモーション動画をチェック！" data-lang="ja" data-count="none">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></span></li>
<li><span><a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="36f89df6389e43a86c02ab8a40238de50c198556" data-button="button-1">Check</a></span></li>
</ul>
</div>
</div><!--dts_outline-->

<div class="dts_outline2">
<div class="dts_wrap01">
<div class="dts_w01_left"><img src="contest/img/dts_photo06.jpg" alt="末永 真唯" /></div>
<div class="dts_w01_right">
<dl>
<dt>名前：</dt><dd>末永 真唯(スエナガ マイ)</dd>
</dl>
<dl>
<dt>年齢：</dt><dd>14歳</dd>
</dl>
<dl>
<dt>趣味：</dt><dd>ピアノ、手芸、読書</dd>
</dl>
<dl>
<dt>身長：</dt><dd>159cm</dd>
</dl>
<dl>
<dt>バスト：</dt><dd>76</dd>
</dl>
<dl>
<dt>ウエスト：</dt><dd>58</dd>
</dl>
</div>
<div class="dts_w01_btn">
<p><a href="http://www.youtube.com/watch?v=AjQQ3ocGHWY&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" target="_blank"><img class="mousover" src="contest/img/dts_btn01.png" alt="YouTube" /></a></p>
<p class="ml_5"><a href="http://www.nicovideo.jp/watch/1355223922" target="_blank"><img class="mousover" src="contest/img/dts_btn03.png" alt="ニコニコ動画" /></a></p>
<p class="ml_5"><a href="http://gyao.yahoo.co.jp/player/00007/v04191/v0419000000000522243/" target="_blank"><img class="mousover" src="contest/img/dts_btn02.png" alt="Gyao!" /></a></p>
<div class="s_clear"></div>
</div>
</div><!--dts_wrap01-->
<div class="social_btn">
<ul>
<li><span><a class="fb-like" data-href="http://www.youtube.com/watch?v=AjQQ3ocGHWY&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" data-send="false" data-width="450" data-layout="button_count" data-show-faces="false"></a></span></li>
<li><span><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://youtu.be/AjQQ3ocGHWY" data-text="末永 真唯のプロモーション動画をチェック！" data-lang="ja" data-count="none">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></span></li>
<li><span><a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="36f89df6389e43a86c02ab8a40238de50c198556" data-button="button-1">Check</a></span></li>
</ul>
</div>
</div><!--dts_outline-->

<div class="dts_outline">
<div class="dts_wrap01 mr_20">
<div class="dts_w01_left"><img src="contest/img/dts_photo07.jpg" alt="籠谷 さくら" /></div>
<div class="dts_w01_right">
<dl>
<dt>名前：</dt><dd>籠谷 さくら(コモリヤ サクラ)</dd>
</dl>
<dl>
<dt>年齢：</dt><dd>12歳</dd>
</dl>
<dl>
<dt>特技：</dt><dd>空手、ピアノ<br />
</dd>
</dl>
<dl>
<dt>趣味：</dt><dd>絵を描く事</dd>
</dl>
<dl>
<dt>身長：</dt><dd>158cm</dd>
</dl>
<dl>
<dt>バスト：</dt><dd>74</dd>
</dl>
<dl>
<dt>ウエスト：</dt><dd>53</dd>
</dl>
</div>
<div class="dts_w01_btn">
<p><a href="http://www.youtube.com/watch?v=sG7QUTiDxnY&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" target="_blank"><img class="mousover" src="contest/img/dts_btn01.png" alt="YouTube" /></a></p>
<p class="ml_5"><a href="http://www.nicovideo.jp/watch/1355223900" target="_blank"><img class="mousover" src="contest/img/dts_btn03.png" alt="ニコニコ動画" /></a></p>
<p class="ml_5"><a href="http://gyao.yahoo.co.jp/player/00007/v04191/v0419000000000522244/" target="_blank"><img class="mousover" src="contest/img/dts_btn02.png" alt="Gyao!" /></a></p>
<div class="s_clear"></div>
</div>
</div><!--dts_wrap01-->
<div class="social_btn">
<ul>
<li><span><a class="fb-like" data-href="http://www.youtube.com/watch?v=sG7QUTiDxnY&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" data-send="false" data-width="450" data-layout="button_count" data-show-faces="false"></a></span></li>
<li><span><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://youtu.be/sG7QUTiDxnY" data-text="籠谷 さくらのプロモーション動画をチェック！" data-lang="ja" data-count="none">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></span></li>
<li><span><a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="36f89df6389e43a86c02ab8a40238de50c198556" data-button="button-1">Check</a></span></li>
</ul>
</div>
</div><!--dts_outline-->

<div class="dts_outline2">
<div class="dts_wrap01">
<div class="dts_w01_left"><img src="contest/img/dts_photo08.jpg" alt="上水口 萌乃香" /></div>
<div class="dts_w01_right">
<dl>
<dt>名前：</dt><dd><span>上水口 萌乃香(カミナグチ ホノカ)</span></dd>
</dl>
<dl>
<dt>年齢：</dt><dd>13歳</dd>
</dl>
<dl>
<dt>特技：</dt><dd>ブリッヂで歩く、一輪車</dd>
</dl>
<dl>
<dt>趣味：</dt><dd>ピアノ</dd>
</dl>
<dl>
<dt>身長：</dt><dd>154cm</dd>
</dl>
<dl>
<dt>バスト：</dt><dd>66</dd>
</dl>
<dl>
<dt>ウエスト：</dt><dd>55</dd>
</dl>
</div>
<div class="dts_w01_btn">
<p><a href="http://www.youtube.com/watch?v=1g3KIpO13P4&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" target="_blank"><img class="mousover" src="contest/img/dts_btn01.png" alt="YouTube" /></a></p>
<p class="ml_5"><a href="http://www.nicovideo.jp/watch/1355277374" target="_blank"><img class="mousover" src="contest/img/dts_btn03.png" alt="ニコニコ動画" /></a></p>
<p class="ml_5"><a href="http://gyao.yahoo.co.jp/player/00007/v04191/v0419000000000522245/" target="_blank"><img class="mousover" src="contest/img/dts_btn02.png" alt="Gyao!" /></a></p>
<div class="s_clear"></div>
</div>
</div><!--dts_wrap01-->
<div class="social_btn">
<ul>
<li><span><a class="fb-like" data-href="http://www.youtube.com/watch?v=1g3KIpO13P4&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" data-send="false" data-width="450" data-layout="button_count" data-show-faces="false"></a></span></li>
<li><span><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://youtu.be/1g3KIpO13P4" data-text="上水口 萌乃香のプロモーション動画をチェック！" data-lang="ja" data-count="none">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></span></li>
<li><span><a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="36f89df6389e43a86c02ab8a40238de50c198556" data-button="button-1">Check</a></span></li>
</ul>
</div>
</div><!--dts_outline-->

<div class="dts_outline">
<div class="dts_wrap01 mr_20">
<div class="dts_w01_left"><img src="contest/img/dts_photo09.jpg" alt="井頭 愛海" /></div>
<div class="dts_w01_right">
<dl>
<dt>名前：</dt>
<dd>井頭 愛海(イガシラ マナミ)</dd>
</dl>
<dl>
<dt>年齢：</dt><dd>12歳</dd>
</dl>
<dl>
<dt>特技：</dt><dd>バレエ・ピアノ</dd>
</dl>
<dl>
<dt>趣味：</dt><dd>読書</dd>
</dl>
<dl>
<dt>身長：</dt><dd>140cm</dd>
</dl>
<dl>
<dt>バスト：</dt><dd>63</dd>
</dl>
<dl>
<dt>ウエスト：</dt><dd>54</dd>
</dl>
</div>
<div class="dts_w01_btn">
<p><a href="http://www.youtube.com/watch?v=merkBsuvHeI&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" target="_blank"><img class="mousover" src="contest/img/dts_btn01.png" alt="YouTube" /></a></p>
<p class="ml_5"><a href="http://www.nicovideo.jp/watch/1355223757" target="_blank"><img class="mousover" src="contest/img/dts_btn03.png" alt="ニコニコ動画" /></a></p>
<p class="ml_5"><a href="http://gyao.yahoo.co.jp/player/00007/v04191/v0419000000000522246/" target="_blank"><img class="mousover" src="contest/img/dts_btn02.png" alt="Gyao!" /></a></p>
<div class="s_clear"></div>
</div>
</div><!--dts_wrap01-->
<div class="social_btn">
<ul>
<li><span><a class="fb-like" data-href="http://www.youtube.com/watch?v=merkBsuvHeI&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" data-send="false" data-width="450" data-layout="button_count" data-show-faces="false"></a></span></li>
<li><span><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://youtu.be/merkBsuvHeI" data-text="井頭 愛海のプロモーション動画をチェック！" data-lang="ja" data-count="none">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></span></li>
<li><span><a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="36f89df6389e43a86c02ab8a40238de50c198556" data-button="button-1">Check</a></span></li>
</ul>
</div>
</div><!--dts_outline-->

<div class="dts_outline2">
<div class="dts_wrap01">
<div class="dts_w01_left"><img src="contest/img/dts_photo10.jpg" alt="尾碕 真花" /></div>
<div class="dts_w01_right">
<dl>
<dt>名前：</dt><dd>尾碕 真花(オサキ イチカ)</dd>
</dl>
<dl>
<dt>年齢：</dt><dd>12歳</dd>
</dl>
<dl>
<dt>特技：</dt><dd>デコ、生け花、料理</dd>
</dl>
<dl>
<dt>趣味：</dt><dd>バドミントン、絵を描くこと</dd>
</dl>
<dl>
<dt>身長：</dt><dd>152.5cm</dd>
</dl>
<dl>
<dt>バスト：</dt><dd>65</dd>
</dl>
<dl>
<dt>ウエスト：</dt><dd>55</dd>
</dl>
</div>
<div class="dts_w01_btn">
<p><a href="http://www.youtube.com/watch?v=lv-isoF9dtk&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" target="_blank"><img class="mousover" src="contest/img/dts_btn01.png" alt="YouTube" /></a></p>
<p class="ml_5"><a href="http://www.nicovideo.jp/watch/1355223825" target="_blank"><img class="mousover" src="contest/img/dts_btn03.png" alt="ニコニコ動画" /></a></p>
<p class="ml_5"><a href="http://gyao.yahoo.co.jp/player/00007/v04191/v0419000000000522247/" target="_blank"><img class="mousover" src="contest/img/dts_btn02.png" alt="Gyao!" /></a></p>
<div class="s_clear"></div>
</div>
</div><!--dts_wrap01-->
<div class="social_btn">
<ul>
<li><span><a class="fb-like" data-href="http://www.youtube.com/watch?v=lv-isoF9dtk&feature=share&list=SPY61JD8T61ulUF2wmUDlvCkhCA74kmWSX" data-send="false" data-width="450" data-layout="button_count" data-show-faces="false"></a></span></li>
<li><span><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://youtu.be/lv-isoF9dtk" data-text="尾碕 真花のプロモーション動画をチェック！" data-lang="ja" data-count="none">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></span></li>
<li><span><a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="36f89df6389e43a86c02ab8a40238de50c198556" data-button="button-1">Check</a>
<script type="text/javascript" src="http://static.mixi.jp/js/share.js"></script>
</span></li>
</ul>
</div>
</div><!--dts_outline-->
<div class="s_clear">&nbsp;</div>

<div class="relation_box01">
<ul>
<li><img src="contest/img/dts_logo01.jpg" alt="LAFORET" /></li>
<li><a href="http://www.laforet.co.jp/lfhotels/szj/" target="_blank"><img src="contest/img/dts_logo02.jpg" alt="ラフォーレ修善寺" /></a></li>
<li><a href="http://www.tfyjapan.com/" target="_blank"><img src="contest/img/dts_logo03.jpg" alt="東府や" /></a></li>
<li><img src="contest/img/dts_logo04.jpg" alt="乗浜海水浴場" /></li>
<li><a href="http://www.nijinosato.com/" target="_blank"><img src="contest/img/dts_logo05.jpg" alt="虹の郷" /></a></li>
<li><a href="http://www.shidax.co.jp/winery/wedding/index.html" target="_blank"><img src="contest/img/dts_logo06.jpg" alt="シャトーT.S" /></a></li>
</ul>
<div class="s_clear">&nbsp;</div>
</div>
<div class="relation_box02">
<ul>
<li><a href="http://locoplace.jp/t000095624/" target="_blank"><img src="contest/img/dts_logo07.jpg" alt="フィルム・コミッション伊豆" /></a></li>
<li><a href="http://www.yado489.co.jp/m-22-shizuoka/sabamaru.html" target="_blank"><img src="contest/img/dts_logo08.jpg" alt="民宿「佐渡丸」" /></a></li>
<li><a href="http://biguine.com/sommaire/" target="_blank"><img src="contest/img/dts_logo09.jpg" alt="JEAN CLAUDE BIGUINE" /></a></li>
<li><a href="http://www.town.nishiizu.shizuoka.jp/" target="_blank"><img src="contest/img/dts_logo10.jpg" alt="西伊豆町" /></a></li>
<li><a href="http://fujilocation.com/index.html" target="_blank"><img src="contest/img/dts_logo11.jpg" alt="富士ロケーションサービス" /></a></li>
</ul>
<div class="s_clear">&nbsp;</div>
</div>
<div class="relation_box03">
<ul>
<li style="margin-top:11px"><a href="http://www.world.co.jp/" target="_blank"><img src="contest/img/dts_logo12.jpg" alt="WORLD" /></a></li>
<li style="margin-top:11px"><a href="http://crocs.co.jp/" target="_blank"><img src="contest/img/dts_logo13.jpg" alt="crocs" /></a></li>
<li><a href="http://www.eagleretailing.co.jp/" target="_blank"><img src="contest/img/dts_logo14.jpg" alt="AMERICAN EAGLE OUTFITTERS" /></a></li>
<li style="margin-top:15px"><a href="http://www.chuffy.jp/" target="_blank"><img src="contest/img/dts_logo15.jpg" alt="北欧雑貨 Chuffy" /></a></li>
</ul>
<div class="s_clear">&nbsp;</div>
</div>
<div class="relation_box04">
<ul>
<li><a href="http://beamie.jp/contest2012.html" target="_blank"><img src="contest/img/dts_logo16.jpg" alt="第13回 全日本国民的美少女コンテスト実行委員会" /></a></li>
<li><a href="http://www.phono-vision.com/" target="_blank"><img src="contest/img/dts_logo17.jpg" alt="フォノヴィジョン" /></a></li>
</ul>
<div class="s_clear">&nbsp;</div>
</div>

</div><!--dts_box01-->
</div><!--dts_mainbox-->
</div>


<!-- MAIN END -->
({ext_include file="inc_foot.tpl"})