({ext_include file="inc_head.tpl"})
<!-- MAIN BEGIN -->

<div id="mainer">
<script src="http://www.glam.jp/tun/gcontents.js?affiliateId=1630580056" charset="utf-8"></script>
<script> insertContent('1630580056','#FFFFFF'); </script>
</div>

<!-- MAIN END -->
({ext_include file="inc_foot.tpl"})