<!-- MAIN BEGIN -->

<h1 class="headerLined">第2回　美ジネスマン＆美ジネスウーマンコンテスト　応募受付完了</h1>

	<section class="boxBase">
	  <div class="explain1">
		<p>	  
		第2回美ジネスマン＆美ジネスウーマンコンテストへの応募を承りました。ご応募ありがとうございました。
		</p>
		<p>
		・ご登録いただいたメールアドレスに「応募完了メール」をお送り致しました。<br/>
		ドメイン指定受信されている方は、「beamie.jp」からのメールが受信できるよう設定をお願いいたします。<br/>
		・一次書類審査合格者の方に限り、二次面接審査のご案内を通知いたします。<br/>
		・コンテストに関するお問い合わせ先<br/>
		「美ジネスマン＆美ジネスウーマンコンテスト実行委員会事務局」<br/>
		TEL:03-6427-2816（平日11:00～17:00受付）<br/>
		</p>

		<p align="center"><a href="http://beamie.jp/?m=portal&a=page_user_top" target=_top>be amieトップページへ</a><br/></p>

	  </div>
	</section>

<!-- MAIN END -->
