<!-- MAIN BEGIN -->
<div id="mainer">
	<div id="mainnertop"></div>
  <div id="main2" class="page_talent_mail_end">  
    <div style="text-align:center;">
<img src="modules/pc/img/audition.gif" />
</div>
	({if $is_iphone==false})
	  <div class="explain1">
<p>	  
ガールズオーディション2011への応募を承りました。ご応募ありがとうございました。
</p>
<p>
・書類選考合格者のみガールズオーディション2011実行委員会から通知させていただきます。<br/>
・お電話やメールによる審査結果のお問い合わせに関しては一切応じかねます。<br/>
・ブログやSNSの日記等で極力、応募されたことを告知しないようお願いします。悪質なスカウト等から連絡がくる場合がございます。<br/>
</p>
	  </div>
	  ({/if})
	</div>	
</div>
<!-- MAIN END -->