<div id="LayoutC">
<div id="Center">

({* {{{ formTable *})
<div class="dparts formTable"><div class="parts">
<div class="partsHeading"><h3>コメントを書く</h3></div>
<div class="partsInfo">
<p>下記のコメントを書き込みますか？</p>

</div>
<table>

<tr><th>本文</th><td>({$body|nl2br|t_url2cmd:'diary':$u|t_cmd:'diary'|t_decoration|smarty:nodefaults})</td></tr>

</table>
<div class="operation">
<ul class="moreInfo button">
<li>
({t_form_block m=pc a=do_news_comment_add})
<input type="hidden" name="newsid" value="({$newsid})" />
<input type="hidden" name="body" value="({$body})" />
<input type="submit" class="input_submit" value="　決　定　" />
({/t_form_block})
</li>
<li>
({t_form_block _form_action=#commentForm  m=pc a=page_newsdetail})
<input type="hidden" name="newsid" value="({$newsid})" />
<input type="hidden" name="body" value="({$body})" />
<input type="submit" class="input_submit" value="　修　正　" />
({/t_form_block})
</li>
</ul>
</div>
</div></div>
({* }}} *})

({advbanner field=news_page dev=pc})

</div><!-- Center -->
</div><!-- LayoutC -->
