<div id="LayoutC">
<div id="Center">

({* {{{ formTable *})
<div class="dparts formTable"><div class="parts">
<div class="partsHeading"><h3>通報</h3></div>
<div class="partsInfo">
<p>通報 ?</p>
</div>
<table>
<tr>
<th>message</th>
<td>({$message})</td>
</tr>
</table>
<div class="operation">
<ul class="moreInfo button">
<li>
({t_form_block m=pc a=do_api_notice_report})
<input type="hidden" name="oid" value="({$oid})" />
<input type="hidden" name="message" value="({$message})" />
<input type="hidden" name="type" value="({$type})" />
<input type="submit" class="input_submit" value="　作　成　" />
({/t_form_block})
</li>
<li>

<form action="./" method="get">
<input type="hidden" name="m" value="pc" />
<input type="hidden" name="a" value="({$a})" />
<input type="submit" class="input_submit" value="　return 　" />
</form>
</li>
</ul>
</div>
</div></div>
({* }}} *})

</div><!-- Center -->
</div><!-- LayoutC -->