
					<!-- OSCAR NEWS -->
					<div id="news" class="modSide">
						<h2>({$rss_title})</h2>
						<ul>
							({foreach from=$rss_list item=rss_list})
								<li><a href="({$rss_list.url})">({$rss_list.title})</a></li>
							({/foreach})
						</ul>

						<p id="newsrss"><a href="http://www.oscarpro.co.jp/news/" target="_blank">最新ニュース一覧</a><a style="margin-left:10px;" href="http://www.oscarpro.co.jp/news/rss.xml" target="_blank"><img alt="rss" src="http://beamie.jp/skin/default/img/rss_icon.gif"></a></div><div id="news_bottom">
						</p>
					</div>