({$inc_ktai_header|smarty:nodefaults})
({foreach from=$top item=data})
    ({ext_include file="inc_portal_Contents_Layout_ktai.tpl"})
({/foreach})

<!-- ▼contents -->
<table width="100%">
<tr>
<td align="center" bgcolor="#FECECE">
<font size="2">
<font color="#E20080"><a name="top">携帯からの応募方法</a></font><br>
</font>
</td>
</tr>
({foreach from=$errors item=error})
({if $error})
<tr>
<td>
<font color="red">({$error})</font>
</td>
</tr>
({/if})
({/foreach})
</table>

({if $msg})<p class="actionMsg">({$msg})</p>({/if})

<table>
<tr><th>[STEP1]</th><td><font color="red">上半身</font>と<font color='red'>全身</font>の写真を各1枚ずつ撮影し保存</td></tr>
<tr><th>[STEP2]</th><td>下記の｢<font color="red">ｺﾝﾃｽﾄに応募する</font>｣をｸﾘｯｸ</td></tr>
<tr><th>[STEP3]</th><td>写真2枚を添付しﾒｰﾙ送信(各150KB以内)</td></tr>
<tr><th>[STEP4]</th><td>写真確認ﾒｰﾙを受信し記載しているURLにｱｸｾｽ</td></tr>
<tr><th>[STEP5]</th><td>応募要項を入力し｢確認ボタン｣をｸﾘｯｸ</td></tr>
<tr><th>[STEP6]</th><td>応募内容を確認し｢応募する｣をｸﾘｯｸ</td></tr>
<tr><th>[STEP7]</th><td>応募完了</td></tr>
</table>
<br/><br/>
≫<a href="mailto:({$mail_address})?body=({$mail_body|urlencode})&subject=({$mail_subject|urlencode})" ><font color="red">ｺﾝﾃｽﾄに応募する</font></a>≪
<br/><br/>