({$inc_ktai_header|smarty:nodefaults})

({if $inc_ktai_entry_point[1]})
({$inc_ktai_entry_point[1]|smarty:nodefaults})
({/if})


({if $inc_ktai_entry_point[2]})
({$inc_ktai_entry_point[2]|smarty:nodefaults})
({/if})

({foreach from=$top item=data})
    ({ext_include file="inc_portal_Contents_Layout_ktai.tpl"})
({/foreach})

<center>
<font color="#E20080">(({$pager.total_num})件)</font><br>
検索条件に以下のﾀﾚﾝﾄ・ﾓﾃﾞﾙの<br>ﾌﾟﾛﾌｨｰﾙ・日記が該当しました。<br><br>
<font color="#E20080">({$pager.disp_start})件～({$pager.disp_end})件を表示</font><br>
</center>
<table width="100%">
	<tr>
	<td colspan="2">
	({if $pager.page_prev || $pager.page_next})
	<center>
	({if $pager.page_prev})
		<a href="({t_url m=ktai a=page_h_talent_list})({if $search_condition})&amp;({$search_condition})({/if})&amp;page=({$pager.page_prev})&amp;({$tail})"
		accesskey="4">[i:128]前を表示</a> ({/if}) ({if $pager.page_next})<a
		href="({t_url m=ktai a=page_h_talent_list})({if $search_condition})&amp;({$search_condition})({/if})&amp;page=({$pager.page_next})&amp;({$tail})"
		accesskey="6">[i:130]次を表示</a>
	({/if})
	</center>
	({/if})
	</td>
	</tr>
	<tr>
	<td colspan="2"><font size="2"><img src="./skin/default/img/ktai_dotline.gif" alt=""></font>
  </td>
  </tr>
	({if $search_list}) 
	
	({foreach from=$search_list item=item})
	<tr>
			<td width="80">
				<font size="2">
				<a href="({t_url m=ktai a=page_f_home})&amp;target_c_member_id=({$item.c_member_id})&amp;({$tail})"><img
						src="({t_img_url filename=$item.image_filename w=76 h=76 noimg=no_image})"
						alt="" /></a></font>						
			</td>
			<td>
				<font size="2">
				({$WORD_NICKNAME}):({$item.nickname}) <br />
				({if $item.profile.talent_name.value})氏名:({$item.profile.talent_name.value})<br />({/if})				
				最終ログイン:({$item.last_login})<br>
				({if $item.profile.self_intro.value})
				自己紹介:({$item.profile.self_intro.value|smarty:nodefaults})<br />({/if})
				</font>
			</td>
	</tr>				
	<tr>
			<td colspan="2"><font size="2"><img src="./skin/default/img/ktai_dotline.gif" alt=""></font></td>
	</tr>
	({/foreach}) 
	({/if})
	</tr>
</table>

({if $pager.page_prev || $pager.page_next})
<center>
({if $pager.page_prev})
	<a href="({t_url m=ktai a=page_h_talent_list})({if $search_condition})&amp;({$search_condition})({/if})&amp;page=({$pager.page_prev})&amp;({$tail})"
	accesskey="4">[i:128]前を表示</a> ({/if}) ({if $pager.page_next})<a
	href="({t_url m=ktai a=page_h_talent_list})({if $search_condition})&amp;({$search_condition})({/if})&amp;page=({$pager.page_next})&amp;({$tail})"
	accesskey="6">[i:130]次を表示</a>({/if})</center>
({/if})
<br>
({foreach from=$bottom item=data}) ({ext_include
file="inc_portal_Contents_Layout_ktai.tpl"}) ({/foreach})

<br>
<table width="100%">
<tr>
<tr><td height="1" bgcolor="#({$ktai_color_config.border_01})"><img src="({t_img_url_skin filename=ktai_line w=240 h=1})" height="1"></td></tr>
</td>
</tr>
</table>
[i:90]<a href="({t_url m=ktai a=page_h_talent_search})&amp;({$tail})">ﾀﾚﾝﾄ・ﾓﾃﾞﾙ検索に戻る</a>


({$inc_ktai_footer|smarty:nodefaults})