({$inc_ktai_header|smarty:nodefaults})

({foreach from=$bottom item=data}) ({ext_include file="inc_portal_Contents_Layout_ktai.tpl"}) ({/foreach})

<div  style="margin:auto; margin-top:10px;width:100%;text-align:center;border:0px;" >
  ({advbanner field=news_page dev=mobile})
</div>

<table width="100%" bgcolor="#e9e8e4" frame="hsides"  cellpadding="0" cellspacing="0" style="border-color:#000000;" border="0"> 
	<tr bgcolor="#000000" height="1px"><td><img src="({t_img_url_skin filename=ktai_line_black w=240 h=1})" height="1"></td></tr> 
	<tr>
	<td>({$news.t_e2_news_title})</td>
	</tr>
    <tr >
    <td align="right">[({$news.t_e2_news_public_dateandtime|date_format:"%m/%d %H:%M"})]({if $comment_count }) ｺﾒﾝﾄ(({$comment_count})) ({/if})</td>
   </tr>
   <tr bgcolor="#000000" height="1px"><td><img src="({t_img_url_skin filename=ktai_line_black w=240 h=1})" height="1"></td></tr> 
</table>
({if $news.t_e2_news_thumbnail_filename})
<p align="center">
<a href="({t_img_url filename=$news.t_e2_news_main_filename  w=400  noimg=no_image})" >
<img src="({t_img_url filename=$news.t_e2_news_thumbnail_filename  w=200  noimg=no_image})" />
</a>
</p>
({/if})
({if $curua eq 'au'})
<img height="20px" src="/skin/dummy.gif"/>
({/if})
<div>({$news.t_e2_news_content|smarty:nodefaults}) </div>
<div style="text-align:right;margin-right:5px;margin-top:5px;">({if $type=='R-25' })（提供元：R-25） ({else}) （ 共同通信 ({$news.t_e2_news_public_dateandtime|date_format:"%m/%d %H:%M"})]({if $comment_count }) ({/if}) ）({/if})</div>


({if $comment_list })
<table width="100%">
<tr><td bgcolor="#E5007F" align="center">
<font color="#FFFFFF">コメント(({$comment_count}))</font>
</td></tr>
</table>
<table frame="void" cellspacing="0" cellpadding="0" border="0" style="margin-left:0;">
({foreach from=$comment_list item=comment name=comment_list})
<tr><td><a href="({t_url m=ktai a=page_f_home})&amp;target_c_member_id=({$comment.c_member_id})&amp;({$tail})">({$comment.c_member.nickname})</a>&nbsp;
({if $comment.c_member.c_member_id eq $u })
<a href="({t_url m=ktai a=page_news_comment_delete_confirm})&amp;target_c_comment_id=({$comment.t_e2_news_comment_id})&amp;({$tail})" > 削除</a>        
({/if})</td></tr>
<tr><td>({$comment.body|smarty:nodefaults|nl2br})</td></tr>
({/foreach})
</table>
({/if})

<hr style=" border:1px dotted red;">

({if TALENT == true })
({t_form_block  m=ktai a=do_news_comment_add})
<input type="hidden" name="ksid" value="({$PHPSESSID})">
<input type="hidden" name="newsid" value="({$news.t_e2_news_contents_id})">
<span><font color="#999966">[ｺﾒﾝﾄを書く]</font></span>
<textarea name="body" rows="6" style="width:95%;"></textarea><br/>
<img src="/skin/dummy.gif" alt="" height="4"/><br/>
<center>
<input type="submit" value="書きこむ">
</center>
<img src="/skin/dummy.gif" alt="" height="4"/><br/>
({/t_form_block})
({/if})

<div align="center">({foreach from=$newtypenames item=item key=key name=newstypename })({if $type eq $key })({$item})({if $smarty.foreach.newstypename.last neq 1})|({/if})({else})<a href="({t_url m=ktai a=page_newslist})&amp;type=({$key})&amp;({$tail})">({$item})</a>({if $smarty.foreach.newstypename.last neq 1})|({/if})({/if})({/foreach})</div>
<img src="/skin/dummy.gif" alt="" height="4"/><br/>

<table width="100%">
<tr><td bgcolor="#E5007F" align="center">
<font color="#FFFFFF">前後の記事</font>
</td></tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" frame="void" style="margin-left:2px;text-align:left;">
({if $prev})
<tr><td>前* <a accesskey="*" href="({t_url m=ktai a=page_newsdetail})&amp;newsid=({$prev.t_e2_news_contents_id})&amp;({$tail})" >({$prev.t_e2_news_title|t_truncate:23:'…'})</a></td></tr>
({/if})
({if $next})
<tr><td>後# <a accesskey="#" href="({t_url m=ktai a=page_newsdetail})&amp;newsid=({$next.t_e2_news_contents_id})&amp;({$tail})" >({$next.t_e2_news_title|t_truncate:23:'…'})</a></td></tr>
({/if})
</table>


<a  name="free4"></a>
<table width="100%">
<tr><td bgcolor="#E5007F" align="center">
<font color="#FFFFFF">[i:76]オスカーアンケート[i:76]</font>
</td></tr>
</table>
ﾀﾚﾝﾄ､ﾓﾃﾞﾙはどう違うのか!?<br/>
意外と普通!?本音探ります!!

<div>
({$layout_free4.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})
</div>
<table width="100%">
<tr><td bgcolor="#F7A71C" align="center"><font size="2">
<font color="#FFFFFF">[i:119]スポンサードサーチ[i:119]</font>
</font></td></tr>
</table>
({$layout_free30.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})
<div>
<img height="4px" src="/skin/dummy.gif"/>
</div>
<table width="100%">
<tr><td bgcolor="#FCC800" align="center">
<font color="#FFFFFF">☆ピックアップ日記☆</font>
</td></tr>
</table>
<div>
({$layout_free13.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})
</div>
<div>
<img height="2px" src="/skin/dummy.gif"/>
</div>
<table>  
  <tr>
    <td bgcolor="#E50081"><img src="({t_img_url_skin filename=ktai_line w=240 h=1})" height="1"></td>    
  </tr>
</table>
<div>
<img height="2px" src="/skin/dummy.gif"/>
</div>
<table width="100%" cellspacing="0"  cellpadding="0" >  
  <tr>
    <td align="center"><a href="({t_url m=ktai a=page_h_diary_list_all})&amp;kind=talent&amp;({$tail})">ﾀﾚﾝﾄ・ﾓﾃﾞﾙ最新日記一覧へ</a>
	</td>
  </tr>
  <tr>
  	<td align="center">
  	<a href="({t_url m=ktai a=page_h_diary_list_member})&amp;({$tail})">be amieﾒﾝﾊﾞｰ最新日記へ</a>
  	</td>
  </tr>
</table>
<div>
<img height="4px" src="/skin/dummy.gif"/>
</div>
({$inc_ktai_footer|smarty:nodefaults})
