({$inc_ktai_header|smarty:nodefaults})

<table width="100%"><tr><td align="center" bgcolor="#({$ktai_color_config.bg_02})">
<br>
</td></tr>
<tr><td bgcolor="#({$ktai_color_config.bg_03})" align="center">
<font color="#({$ktai_color_config.color_24})">完全削除</font><br>
</td></tr></table>

下記のコメントを削除しますか？<br>

<hr color="#({$ktai_color_config.border_01})">
({$target_news_comment.body})
<br/>
<hr color="#({$ktai_color_config.border_01})">
<center>
({t_form m=ktai a=do_news_comment_delete})
<input type="hidden" name="ksid" value="({$PHPSESSID})">
<input type="hidden" name="target_c_comment_id" value="({$target_news_comment.t_e2_news_comment_id})">
<input type="submit" value="　は　い　"><br>
</form>

({t_form _method=get m=ktai a=page_newsdetail})
<input type="hidden" name="ksid" value="({$PHPSESSID})">
<input type="hidden" name="newsid" value="({$target_news_comment.t_e2_news_contens_id})">
<input type="submit" value="　いいえ　">
</form>
</center>

({$inc_ktai_footer|smarty:nodefaults})