({$inc_ktai_header|smarty:nodefaults})

({foreach from=$bottom item=data}) ({ext_include
file="inc_portal_Contents_Layout_ktai.tpl"}) ({/foreach})

<div  style="margin:auto; margin-top:10px;width:100%;text-align:center;border:0px;" >
  ({advbanner field=news_page dev=mobile})
</div>

<hr style=" border:1px dotted red;">
<h3>({$news.t_e2_news_title})</h3>
<hr color="red" style=" border:1px dotted red;">

<a  name="free4"></a>
<table width="100%">
<tr><td bgcolor="#E5007F" align="center">
<font color="#FFFFFF">[i:76]オスカーアンケート[i:76]</font>
</td></tr>
</table>
ﾀﾚﾝﾄ､ﾓﾃﾞﾙはどう違うのか!?<br/>
意外と普通!?本音探ります!!

<div>
({$layout_free4.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})
</div>

<br>
[i:151]<font color="#({$ktai_color_config.font_05})">注目キーワード</font><br>
({$layout_free2.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})
<br/>

<table width="100%">
<tr><td bgcolor="#FCC800" align="center">
<font color="#FFFFFF">☆ピックアップ日記☆</font>
</td></tr>
</table>
<div>
({$layout_free13.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})
</div>

({$inc_ktai_footer|smarty:nodefaults})