({$inc_ktai_header|smarty:nodefaults})

({foreach from=$bottom item=data}) ({ext_include
file="inc_portal_Contents_Layout_ktai.tpl"}) ({/foreach})
<div  style="margin:auto; margin-top:0px;width:100%;text-align:center;border:0px;" >
  ({advbanner field=news_page dev=mobile})
</div>

<table width="100%">
<tr><td bgcolor="#({$ktai_color_config.bg_02})" align="center">
<font color="#({$ktai_color_config.font_05})">({$typename_ja})ニュース一覧</font>
</td></tr>
</table>



<img src="/skin/dummy.gif" alt="" height="4"/><br/>
<center>
({foreach from=$newtypenames item=item key=key name=newstypename })({if $type eq $key })({$item})({if $smarty.foreach.newstypename.last neq 1})|({/if})({else})<a href="({t_url m=ktai a=page_newslist})&amp;type=({$key})&amp;({$tail})">({$item})</a>({if $smarty.foreach.newstypename.last neq 1})|({/if})({/if})({/foreach})
</center>
<img src="/skin/dummy.gif" alt="" height="4"/><br/>

<table bgcolor="#B0AC9C" border-color="#B0AC9C" width="100%" cellspacing="0" cellpadding="0" border="0" frame="void" style="margin:2px;border:0px;border-color:#B0AC9C;">
<tr bgcolor="#B0AC9C">
<td width="40px" border="0"></td>
<td  align="center" border="0" >
<font color="#ffffff" border="0">({$typename_ja})</font>
</td>
<td align="right" width="40px"><font color="#ffffff">[({$page})/({$newslist[4]})]</font></td>
</tr>
</table>


<div style="margin:5px 2px ;">
({if $top_news})
<table style="border:0px;" ><tr>
<td>
<img width="80" border="0"  alt="" src="({t_img_url filename=$top_news.t_e2_news_thumbnail_filename  w=80  noimg=no_image})">
</td>
<td  style="padding-left:5px;vertical-align:top;">
・<a href="({t_url m=ktai a=page_newsdetail})&amp;newsid=({$top_news.t_e2_news_contents_id})&amp;({$tail})">({$top_news.t_e2_news_title|t_truncate:30:'…'})</a>
</td>
</tr></table>
</div>

({/if})



({foreach from=$newslist[0] item=item name=newslist})
・<a href="({t_url m=ktai a=page_newsdetail})&amp;newsid=({$item.t_e2_news_contents_id})&amp;({$tail})" >({$item.t_e2_news_title|t_truncate:25:'…'})</a>({if $item.t_e2_news_associated_with})<img src="./skin/default/common/pu_news_cam.jpg" />({/if}) 
<div>
<img height="3px" src="/skin/dummy.gif"/>
</div>
({/foreach})
</div>
<div>
<img height="1px" src="/skin/dummy.gif"/>
</div>

<center>
 ({if $newslist[1]})<a href="({t_url m=ktai a=page_newslist})&amp;type=({$type})&amp;day=({$day})&amp;page=({$newslist[1]})&amp;({$tail})">前の10件</a> ({/if})
 ({if $newslist[2]})<a href="({t_url m=ktai a=page_newslist})&amp;type=({$type})&amp;day=({$day})&amp;page=({$newslist[2]})&amp;({$tail})">次の10件</a> ({/if})
</center>

<img src="/skin/dummy.gif" alt="" height="1"/><br/>

<hr color="red" style=" border:1px dotted red;margin-top:1px;margin-bottom:1px;">

<div style="margin:auto;margin-top:4px;margin-bottom:4px;width:95%;text-align:center;">
        ({foreach from=$days item=day name=daylink})
        ({if $show_day==$day})
        ({$day|date_format:'%m/%d'})
        ({else})
        <a href="({t_url m=ktai a=page_newslist})&amp;type=({$type})&amp;day=({$day|date_format:'%Y-%m-%d'})&amp;({$tail})">({$day|date_format:'%m/%d'})</a>
        ({/if})
        ({if $smarty.foreach.daylink.last neq 1 && $smarty.foreach.daylink.iteration neq 4})|({/if})
        ({if $smarty.foreach.daylink.iteration eq 4})</br>({/if})
        ({/foreach})
</div>

<hr color="red" style=" border:1px dotted red;margin-top:1px;margin-bottom:1px;">
<img src="/skin/dummy.gif" alt="" height="1"/><br/>
 <center>
  ({foreach from=$newtypenames item=item key=key name=newstypename })({if $type eq $key })({$item})({if $smarty.foreach.newstypename.last neq 1})|({/if})({else})<a href="({t_url m=ktai a=page_newslist})&amp;type=({$key})&amp;({$tail})">({$item})</a>({if $smarty.foreach.newstypename.last neq 1})|({/if})({/if})({/foreach})
</center>
<img src="/skin/dummy.gif" alt="" height="4"/><br/>

<a  name="free4"></a>
<table width="100%">
<tr><td bgcolor="#E5007F" align="center">
<font color="#FFFFFF">[i:76]オスカーアンケート[i:76]</font>
</td></tr>
</table>
ﾀﾚﾝﾄ､ﾓﾃﾞﾙはどう違うのか!?<br/>
意外と普通!?本音探ります!!

<div>
({$layout_free4.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})
</div>
<table width="100%">
<tr><td bgcolor="#F7A71C" align="center"><font size="2">
<font color="#FFFFFF">[i:119]スポンサードサーチ[i:119]</font>
</font></td></tr>
</table>
({$layout_free30.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})
<div>
<img height="4px" src="/skin/dummy.gif"/>
</div>
<table width="100%">
<tr><td bgcolor="#FCC800" align="center">
<font color="#FFFFFF">☆ピックアップ日記☆</font>
</td></tr>
</table>
<div>
({$layout_free13.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})
</div>
<div>
<img height="2px" src="/skin/dummy.gif"/>
</div>
<table>  
  <tr>
    <td bgcolor="#E50081"><img src="({t_img_url_skin filename=ktai_line w=240 h=1})" height="1"></td>    
  </tr>
</table>
<div>
<img height="2px" src="/skin/dummy.gif"/>
</div>
<table width="100%" cellspacing="0"  cellpadding="0" >  
  <tr>
    <td align="center"><a href="({t_url m=ktai a=page_h_diary_list_all})&amp;kind=talent&amp;({$tail})">ﾀﾚﾝﾄ・ﾓﾃﾞﾙ最新日記一覧へ</a>
	</td>
  </tr>
  <tr>
  	<td align="center">
  	<a href="({t_url m=ktai a=page_h_diary_list_member})&amp;({$tail})">be amieﾒﾝﾊﾞｰ最新日記へ</a>
  	</td>
  </tr>
</table>
<div>
<img height="4px" src="/skin/dummy.gif"/>
</div>
({$inc_ktai_footer|smarty:nodefaults})