({$inc_ktai_header|smarty:nodefaults})

({if $inc_ktai_entry_point[1]})
({$inc_ktai_entry_point[1]|smarty:nodefaults})
({/if})


({if $inc_ktai_entry_point[2]})
({$inc_ktai_entry_point[2]|smarty:nodefaults})
({/if})

({foreach from=$top item=data})
    ({ext_include file="inc_portal_Contents_Layout_ktai.tpl"})
({/foreach})
<!-- ▼contents -->
({t_form m=ktai a=page_notice_confirm})
<input type="hidden" name="ksid" value="({$PHPSESSID})">
<input type="hidden" id="type" name="type" value="({$type})" />
<input type="hidden" id="oid" name="oid" value="({$oid})" />
<input type="hidden" id="forward" name="forward" value="({$forward})" />

<table width="100%">
<tr>
<td align="center" bgcolor="#FECECE">
<font size="2">
<font color="#E20080"><a name="top">通報</a></font><br>
</font>
</td>
</tr>
<tr>
<td align="left">メッセージ:</td>
</tr>
<tr>
<td>
<textarea name="message" rows="3"></textarea>
</td>
</tr>
<tr>
<td><input type="submit" value="送信"></td>
</tr>
</table>
</form>


<!-- △contents -->
({foreach from=$bottom item=data}) 
({ext_include file="inc_portal_Contents_Layout_ktai.tpl"}) 
({/foreach})
({$inc_ktai_footer|smarty:nodefaults})