({$inc_ktai_header|smarty:nodefaults})

({if $inc_ktai_entry_point[1]})
({$inc_ktai_entry_point[1]|smarty:nodefaults})
({/if})


({if $inc_ktai_entry_point[2]})
({$inc_ktai_entry_point[2]|smarty:nodefaults})
({/if})

({foreach from=$top item=data})
    ({ext_include file="inc_portal_Contents_Layout_ktai.tpl"})
({/foreach})
<!-- ▼contents -->

<table width="100%">
<tr>
<td align="center" bgcolor="#FECECE">
<font size="2">
<font color="#E20080"><a name="top">通報</a></font><br>
</font>
</td>
</tr>
<tr>
<td align="left">メッセージ:</td>
</tr>
<tr>
<td>
({$message})
</td>
</tr>
<tr>
<td>
({t_form m=ktai a=do_api_notice_report})
<input type="hidden" name="ksid" value="({$PHPSESSID})">
<input type="hidden" id="type" name="type" value="({$type})" />
<input type="hidden" id="oid" name="oid"  value="({$oid})" />
<input type="hidden" id="message" name="message"  value="({$message})"> 
<input type="hidden" id="forward" name="forward"  value="({$forward})" />
<input type="submit" value="送信">
</form>
<br />
<form name="return" action="./" method="post" >
<input type="hidden" name="m" value="ktai" >
<input type="hidden" name="ksid" value="({$PHPSESSID})">
<input type="hidden" name="a" value="({$a})" >
<input type="hidden" name="({$param_name})" value="({$param_value})" >

<input type="submit" value="戻る">
</form>

</td>
</tr>
</table>

<!-- △contents -->
({foreach from=$bottom item=data}) 
({ext_include file="inc_portal_Contents_Layout_ktai.tpl"}) 
({/foreach})
({$inc_ktai_footer|smarty:nodefaults})