({$inc_ktai_header|smarty:nodefaults})

<!-- ({if $inc_ktai_entry_point[1]})
({*$inc_ktai_entry_point[1]|smarty:nodefaults*})
({/if})


({if $inc_ktai_entry_point[2]})
({*$inc_ktai_entry_point[2]|smarty:nodefaults*})
({/if}) -->

({foreach from=$top item=data})
    ({ext_include file="inc_portal_Contents_Layout_ktai.tpl"})
({/foreach})

<div align="center">
<!-- ({if $smarty.const.ISGUEST == true})
<a href="#login"><font color="#({$ktai_color_config.font_02})">ﾏｲﾍﾟｰｼﾞのﾛｸﾞｲﾝはｺﾁﾗ</font></a>
({else})
<a href="({t_url m=ktai a=page_h_home})&amp;({$tail})"><font color="#({$ktai_color_config.font_02})">ﾏｲﾍﾟｰｼﾞはｺﾁﾗ</font></a>
({/if}) -->
</div>
<!--<br>
({$layout_free1.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})
<br>-->
<table width="100%" border="0">
<tr><td bgcolor="#({$ktai_color_config.color_27})">
({t_form _method=get m=ktai a=page_search_result})
<input type="hidden" name="ksid" value="({$PHPSESSID})">

({if $error_msg})
<font color="Red">({$error_msg})</font><br>
({/if})

<font color="#111111">[i:119]ﾀﾚﾝﾄ･ｺﾐｭﾆﾃｨ検索</font><br>
<input type="text" name="searchkey" id="searchkey" value="" size="10"><input type="submit" name="search-btn" value="検索">&nbsp;<!--<a href="({t_url m=ktai a=page_h_talent_search})&amp;({$tail})">詳細検索</a>-->
<br>
<input type="radio" name="searchtype" id="searchtype1" value="1" ({if $smarty.request.searchtype == "1" || $smarty.request.searchtype=="" })checked ({/if})>
<font color="#({$ktai_color_config.font_01})" size="-2">ﾀﾚﾝﾄ･ﾓﾃﾞﾙ</font>
<!--<input type="radio" name="searchtype" id="searchtype2" value="2" ({if $smarty.request.searchtype == "2" })checked ({/if})>
<font color="#({$ktai_color_config.font_01})" size="-2">ｺﾐｭﾆﾃｨ</font>-->
<input type="radio" name="searchtype" id="searchtype3" value="3" ({if $smarty.request.searchtype == "3" })checked ({/if})>
<font color="#({$ktai_color_config.font_01})" size="-2">指定なし</font><br>

</form>
<!-- <br>
<font color="#({$ktai_color_config.font_05})">[i:151]注目ｷｰﾜｰﾄﾞ</font><br>
({$layout_free2.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})-->
</td></tr>
</table>
({if !$error_msg})
<table width="100%">
<tr>
<td align="center" bgcolor="#({$back_color})">
<font color="#({$font_color})"><a name="top">ﾀﾚﾝﾄ・ﾓﾃﾞﾙ検索結果</a></font><br>
</td>
</tr>
</table>
<center>
<font color="#E20080">(({$pager.total_num})件)</font><br>
検索条件に以下のﾀﾚﾝﾄ・ﾓﾃﾞﾙの<br>ﾌﾟﾛﾌｨｰﾙ・日記が該当しました。
</center>
({/if})

<table width="100%">
	<tr><td colspan="2"><img src="({t_img_url_skin filename=ktai_dotline w=240 h=6})" alt=""></td></tr>
	({if $search_list}) 
	({foreach from=$search_list item=item}) 
	({if $item.rowtype=="member"})		    	
		<tr>
			<td width="80">
				<a href="({t_url m=ktai a=page_f_home})&amp;target_c_member_id=({$item.c_member_id})&amp;({$tail})">
				<img src="({$smarty.const.OPENPNE_URL})assets/user_data/({$item.c_member_id})/({$item.image_filename})" alt="" width="74"/></a>
			</td>
			<td>
				
				({$WORD_NICKNAME}):({$item.nickname}) <br />
				({if $item.profile.talent_name.value})氏名:({$item.profile.talent_name.value})<br />({/if})				
				最終ログイン:({$item.access_date})<br>
				({if $item.profile.self_intro.value})
				自己紹介:({$item.profile.self_intro.value|smarty:nodefaults})<br />({/if})
				</font>
			</td>
		</tr>				
	({elseif $item.rowtype=="diary"})
		<tr>
			<td width="80">
				<a href="({t_url m=ktai a=page_f_home})&amp;target_c_member_id=({$item.c_member_id})&amp;({$tail})">
				<img src="({$smarty.const.OPENPNE_URL})assets/user_data/({$item.c_member_id})/({$item.c_member.image_filename})" alt="" width="74"/></a>
			</td>
			<td>({$WORD_NICKNAME}):({$item.c_member.nickname}) 
					({if $item.c_member.profile.sex.value})(({$item.c_member.profile.sex.value}))({/if})<br>
				タイトル:<a href="({t_url m=ktai a=page_fh_diary})&amp;target_c_diary_id=({$item.c_diary_id})&amp;({$tail})">({$item.subject})</a>
						 ({if $item.num_comment})(({$item.num_comment}))({/if})
						 ({if $item.image_filename_1 || $item.image_filename_2 || $item.image_filename_3}) 
							<img src="({t_img_url_skin filename=icon_camera})" alt="" />
						 ({/if}) <br >				
			           氏名:({$item.c_member.profile.talent_name.value})<br>
				本文:({$item.body|replace:'\n':''|t_decoration:1|t_truncate:36:"":3})<br>
				作成日時:({$item.r_datetime|date_format:"%m月%d日 %H:%M"})
			</td>
		</tr>
	({/if})
	 <tr><td colspan="2"><img src="({t_img_url_skin filename=ktai_dotline w=240 h=6})" alt=""></td></tr>
	({/foreach}) 
	({/if})
</table>

({if $pager.page_prev || $pager.page_next})
<div align="center">
({if $pager.page_prev})
	<a href="({t_url m=ktai a=page_search_result})({if $search_condition})&amp;({$search_condition})({/if})&amp;page=({$pager.page_prev})&amp;({$tail})"
	accesskey="4">[i:128]前を表示</a> ({/if}) ({if $pager.page_next})<a
	href="({t_url m=ktai a=page_search_result})({if $search_condition})&amp;({$search_condition})({/if})&amp;page=({$pager.page_next})&amp;({$tail})"
	accesskey="6">[i:130]次を表示</a>({/if})</div>
({/if})
<br>
<!--
({if $smarty.const.ISGUEST == true})
({***login***})
<a name="login"></a>
<table width="100%"><tr><td bgcolor="#({$ktai_color_config.bg_08})">
<font color="#({$ktai_color_config.color_26})">ﾏｲﾍﾟｰｼﾞﾛｸﾞｲﾝ</font>
</td></tr>
<tr><td bgcolor="#({$ktai_color_config.color_27})">
<font color="#({$ktai_color_config.font_05})">[i:80]かんたんﾛｸﾞｲﾝ</font><br>
<center>
({t_form _attr='utn' m=ktai a=do_o_easy_login})
<input type="hidden" name="login_params" value="({$requests.login_params})">
<input type="submit" value="かんたんﾛｸﾞｲﾝ"><br>
</form>
</center>
<br>
<div><a href="({t_url m=ktai a=page_o_whatis_easy_login})">[i:75]かんたんﾛｸﾞｲﾝとは</a></div>
<br>
({$layout_free3.contents.html|smarty:nodefaults|t_url2cmd:"":"":0|t_cmd})
<br>
<font color="#({$ktai_color_config.font_05})">[i:80]ﾊﾟｽﾜｰﾄﾞﾛｸﾞｲﾝ</font><br>
({t_form m=ktai a=do_o_login})
<input type="hidden" name="login_params" value="({$requests.login_params})">
({if $smarty.const.OPENPNE_AUTH_MODE == 'email'})
<font color="#({$ktai_color_config.font_01})">[i:110]携帯ﾒｰﾙｱﾄﾞﾚｽ</font><br>
({else})
<font color="#({$ktai_color_config.font_01})">[i:116]ﾛｸﾞｲﾝID</font><br>
({/if})
<textarea name="username" rows="1" istyle="3" mode="alphabet"></textarea><br>
<font color="#({$ktai_color_config.font_01})">[i:116]ﾊﾟｽﾜｰﾄﾞ</font><br>
<input name="password" type="password" istyle="3" mode="alphabet" value=""><br>
<center>
<input name="submit" value="ﾛｸﾞｲﾝ" type="submit"><br>
</center>
</form>
<br>
({if $smarty.const.OPENPNE_AUTH_MODE == 'slavepne'})
({if $smarty.const.SLAVEPNE_PASSWORD_QUERY_URL_KTAI})
<a href="({$smarty.const.SLAVEPNE_PASSWORD_QUERY_URL_KTAI})"><font color="#({$ktai_color_config.font_02})">※ﾊﾟｽﾜｰﾄﾞを忘れた方はこちら</font></a><br>
({/if})
({else})
<a href="({t_url m=ktai a=page_o_password_query})"><font color="#({$ktai_color_config.font_02})">※ﾊﾟｽﾜｰﾄﾞを忘れた方はこちら</font></a><br>
({/if})
({/if})

({foreach from=$bottom item=data}) ({ext_include
file="inc_portal_Contents_Layout_ktai.tpl"}) ({/foreach})

<br>
-->

({$inc_ktai_footer|smarty:nodefaults})
